/* === Global === */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Urbanist:wght@400;600&display=swap');

/* Show it is fixed to the top */
:root {
  --blue: #70d6ff;
  --pink: #ff70a6;
  --orange: #ff9770;
  --darkyellow: #ffd670;
  --yellow: #e9ff70;
}

body {
  min-height: 75rem;
  margin-top: 76px;
  background-image: url(/static/images/memphis-colorful.png);
  background-blend-mode: normal;
}

main {
  font-family: Urbanist, sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.btn {
  border-radius: 3px !important;
  background-color: white;
  color: black;
  transition: 0.3s !important;
}

.button-hover:hover {
  box-shadow: 5px 5px black;
  color: black;
}

.pri-button {
  background-color: var(--blue);
}

.edit-button {
  background-color: var(--orange);
}

.cancel-button {
  background-color: #d7d7d7;
}

.cta-link {
  display: inline-block;
  background-color: var(--yellow);
  color: black;
  text-decoration: none;
  padding-top: 7px;
  transition: 0.3s;
}

.cta-link:hover {
  background-color: white;
  text-decoration: underline;
  color: black;
}

/* === Base html === */

.navbar {
  background-color: #70d6ff;
}

#navbar_hamburger:focus {
  outline: none;
  box-shadow: none;
}

#nav_title {
  font-family: Monoton, sans-serif;
  color: black;
  margin-bottom: 0px;
  padding-left: 10px !important;
}

.bg_image {
  height: 100vh;
}

.card {
  text-align: center;
}

.card-body {
  background-color: #ff70a6;
}

#card_one {
  border-radius: 0 0 0 3px;
}

#card_three {
  border-radius: 0 0 3px 0;
}

.card-header {
  background-color: #e9ff70;
}

.carousel-item {
  max-height: 50vh;
}

#carouselID .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card_image {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

#homepage_welcome {
  text-align: center;
}

/* === Profile Detail Page === */

#profile-detail-img {
  max-width: 15rem;
}

#profile-detail-heading {
  text-align: center;
  padding: 20px 0;
}

.container.profile-detail {
  background-color: white;
}

.col-lg-7 {
  border-left: 5px var(--pink) dotted;
}

.profile-detail-border {
  border-top: 5px var(--pink) dotted;
}

.profile-post-container {
  border-bottom: 5px var(--pink) dotted;
}

/* === Post Detail Page === */

#post-detail-heading {
  text-align: center;
  border-bottom: 5px var(--yellow) dotted;
}

/* === Sign In Modal === */

#signin_header {
  background-color: var(--yellow);
}

#signin_modal_label {
  font-family: Urbanist, sans-serif;
  font-size: 25px;
  font-weight: 600;
}

#signin_form {
  font-family: Urbanist, sans-serif;
  font-size: 20px;
}

/* === Sign Up Modal === */

#signup_header {
  background-color: var(--orange);
}

#signup_modal_label {
  font-family: Urbanist, sans-serif;
  font-size: 25px;
  font-weight: 600;
}

#signup_form {
  font-family: Urbanist, sans-serif;
  font-size: 20px;
}



