{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <script src="{% static 'scripts/main.js' %}" defer></script>

    <link rel="icon" href="/static/images/favicon.ico"/>
    
    <title>Wayfarer - {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <div class="d-flex align-items-center">
            <img
              src="https://image.flaticon.com/icons/png/512/1820/1820732.png"
              width="50"
              height="50"
              class="d-inline-block align-top ms-3"
              alt=""
            />
            <h1 id="nav_title" class="ps-1">Wayfarer</h1>
          </div>
        </a>
        <button
          class="navbar-toggler navbar navbar-light"
          id= "navbar_hamburger"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarCollapse"
        >
          <ul class="nav">
            <li class="nav-item">
              <a
                class="
                  nav-link
                  btn
                  border-dark border-2
                  px-3
                  py-2
                  button-hover
                  mx-2
                "
                href="{% url 'profile' user.pk %}"
                >Welcome <b>{{user.first_name}}</b> - Profile</a
              >
            </li>
            <li class="nav-item">
              <a
                class="
                  nav-link
                  btn
                  border-dark border-2
                  px-3
                  py-2
                  button-hover
                  mx-2
                  me-3
                "
                href="/cities/"
                >City Tips</a
              >
            </li>
            <li class="nav-item">
              <a
                class="
                  nav-link
                  btn
                  border-dark border-2
                  px-3
                  py-2
                  button-hover
                  mx-2
                  me-3
                "
                href="/accounts/logout"
                >Logout</a
              >
            </li>
          </ul>
        </div>

        {% else %}

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarCollapse"
        >
          <ul class="nav">
            <!-- Sign In Modal Trigger -->
            <li class="nav-item">
              <button
                type="button"
                class="border-dark border-2 px-3 py-2 button-hover mx-2 btn"
                data-bs-toggle="modal"
                data-bs-target="#signin_modal"
              >
                Sign In
              </button>
              <!-- Sign Up Modal Trigger -->
              <button
                type="button"
                class="
                  border-dark border-2
                  px-3
                  py-2
                  button-hover
                  mx-3
                  me-3
                  btn
                "
                data-bs-toggle="modal"
                data-bs-target="#signup_modal"
              >
                Sign Up
              </button>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Sign In Modal -->
    <div
      class="modal fade"
      id="signin_modal"
      tabindex="-1"
      aria-labelledby="signin_modal_label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id="signin_header">
            <h5 class="modal-title" id="signin_modal_label">Sign In</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form action="{% url 'login' %}" method="post" id="signin_form">
                {% csrf_token %}
                <div class="mb-3 sign_in_form">
                  <label for="validationDefaultUsername" class="form-label">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" name='username' autofocus required>
                  </div>
                </div>
                <div class="mb-3 sign_in_form">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" required/>
                </div>
                <div class="d-flex modal-footer justify-content-between">
                  {% comment %}
                  <a
                    href=""
                    data-dismiss="modal"
                    data-toggle="modal"
                    data-target="#signup_modal"
                    >Need an account?</a
                  >
                  {% endcomment %}
                  <button
                    type="submit"
                    class="
                      btn
                      border-dark border-2
                      px-3
                      py-2
                      button-hover
                      pri-button
                      mx-auto
                    "
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Sign Up Modal -->
    <div
      class="modal fade"
      id="signup_modal"
      tabindex="-1"
      aria-labelledby="signup_modal_label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id="signup_header">
            <h5 class="modal-title" id="signup_modal_label">Sign Up</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form action="{% url 'signup' %}" method="post" id="signup_form">
                {% csrf_token %}
                <div class="mb-3">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="first_name_area"
                    autofocus required/>
                </div>
                <div class="mb-3">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name" required/>
                </div>
                <div class="mb-3">
                  <label>Email address</label>
                  <input type="text" class="form-control" name="email" required/>
                </div>
                <div class="mb-3">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password1" required
                  />
                </div>
                <div class="mb-3">
                  <label>Re-enter Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password2" required
                  />
                </div>
                <div class="mb-3">
                  <label for="validationDefaultUsername" class="form-label">Username</label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" name='username' autofocus required>
                  </div>
               </div>
                <div class="mb-3">
                  <label>Profile Image</label>
                  <input type="text" class="form-control" name="image" required/>
                </div>
                <div class="mb-3">
                  <label>Current City</label>
                  <input type="text" class="form-control" name="current_city" required/>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    class="
                      btn
                      border-dark border-2
                      px-3
                      py-2
                      button-hover
                      pri-button
                      mx-auto
                    "
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
