{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}

<div id="carouselID" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselID"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselID"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselID"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/static/images/johannesburg.jpeg/"
        class="d-block w-100"
        alt="Johannesburg"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/london.jpeg/"
        class="d-block w-100"
        alt="London"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/images/riodejaneiro.jpeg/"
        class="d-block w-100"
        alt="Rio De Janeiro"
      />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselID"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselID"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<main>
  <h3 class="my-4" id="homepage_welcome">Wayfarer is . . .</h3>
  <div class="container-fluid" id="homepage_body">
    <div class="card-group">
      <div class="card h-100">
        <div class="card-header">Global</div>
        <div class="card-body" id="card_one">
          <p class="card-text">
            Art is everywhere. It evokes a different message to each of us.
            Share your thoughts and inspire new meaning.
          </p>
          <img class="card_image" src="/static/images/gif1.gif" alt="Art gif" />
        </div>
      </div>

      <div class="card h-100">
        <div class="card-header">Abstract</div>
        <div class="card-body">
          <p class="card-text">
            It's true that a picture is worth a thousand words. We embrace our
            differences because what's life without color?
          </p>
          <img class="card_image" src="/static/images/gif2.gif" alt="Art gif" />
        </div>
      </div>

      <div class="card h-100">
        <div class="card-header">Broad</div>
        <div class="card-body" id="card_three">
          <p class="card-text">
            People of all ages are artists. Our community wants to see them all!
            Help us locate the hidden gems.
          </p>
          <img class="card_image" src="/static/images/gif3.gif" alt="Art gif" />
        </div>
      </div>
    </div>
  </div>
  <br />

  <footer class="d-flex justify-content-center">
    <div>
      <a href="{% url 'about' %}" id="about_page"> About Us </a>
    </div>
  </footer>

  <br />
</main>

{% endblock %}
