{% extends 'base.html' %} {% block title %}Update Post<!--protect-->
{% endblock %}
<!-- protect -->
{% block content %} {% if user.is_authenticated %}
<h1>Edit Your Post</h1>
{% if post.author.pk == user.pk %}
<form action="" method="POST">
  <div class="form-group">
    {% csrf_token %}

    <div class="form-group">
      <label>City</label>
      <select
        class="form-select"
        id="post_city_select"
        aria-label="Floating label select example"
        name="city"
        autofocus
      >
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="1">Berlin, Germany</option>
        <option value="2">Havana, Cuba</option>
        <option value="3">Johannesburg, South Africa</option>
        <option value="4">London, England</option>
        <option value="5">Rio de Janeiro, Brazil</option>
        <option value="6">San Francisco, United States</option>
        <option value="7">Seattle, United States</option>
        <option value="8">Singapore, Singapore</option>
        <option value="9">Sydney, Australia</option>
        <option value="10">Tokyo, Japan</option>
      </select>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        value="{{post.title}}"
      />
    </div>

    <div class="form-group">
      <label for="post-content">Got any tips?</label>
      <textarea class="form-control" name="content" id="post-content">
{{post.content}}</textarea
      >
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<p>
  You are not authorized to edit this post.
  <a href="/cities/1/">Return to all posts.</a>
</p>
<iframe src="https://giphy.com/embed/13ywPzPJdfhmBG" width="480" height="349" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
{% endif %} {% else %}
<h4>404 Not found. <a href="/">Return to homepage.</a></h4>
{% endif %} {% endblock content %}
